.hero{
  max-width: 1280px;
  display: flex;
  margin: 0 auto;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.hero-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
img{
  height: 500px;
  width: 700px;
}

h1{
  font-size: 101px;
  line-height: 0.8;
}

p{
  font-size: 20px;
  width: 500px;
}

.category{
  margin-left: 10px ;
  background-color: var(--grey);
} 
.Available{
  margin-top: 20px;
}
.Available img{
  height: 40px;
  width: 40px;
  margin: 5px;
}